.copy-input{
  overflow: hidden;
  input{
    float: left;
    width: 80%;
    line-height: 24px;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
  }
  .modifier{
    @include clickable;
    float: left;
    width: 20%;
    line-height: 26px;
    text-align: center;
    background-color: $color-blue;
    color: white;
    border-radius: 0 5px 5px 0;
    &:hover{
      background-color: lighten($color-blue, 10%);
    }
  }
}