@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin noSelect{
  touch-callout: none;
  user-select:none;
  cursor: default;
}

@mixin clickable{
  @include noSelect;
  cursor: pointer;
}

@mixin movable{
  @include noSelect;
  cursor: move;
}

@mixin card{
  background-color: white;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  box-shadow: 0 2px 2px rgba(black,0.24);
  &:hover{
    box-shadow: 0 2px 5px rgba(black,0.24);
  }
}

@mixin miniscroll($width:5px,$height:5px){
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar{
    height: $height;
    width: $width;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(85,85,85);
    background-color: rgba(85,85,85,0.25);
  }
}

@mixin lineClamp($numLines,$lineSize:20px){
  position: relative;
  max-height: ($numLines * $lineSize);
  overflow: hidden;
  // &:after{
  //   content:"";
  //   text-align: right;
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 70%;
  //   height: 1.2em;
  //   //background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,1) 50%);
  // }

  display: -webkit-box;
  -webkit-line-clamp: $numLines;
  -webkit-box-orient: vertical;
  &:after{
    display: none;
  }
}

@mixin clearfix{
  &:after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

@mixin ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin wordwrap{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@mixin fade-right($fromColor, $toColor) {
  background: linear-gradient(to right,$fromColor,$toColor);
}
@mixin fade-left($fromColor, $toColor) {
  background: linear-gradient(to left,$fromColor,$toColor);
}
@mixin fade-down($fromColor, $toColor) {
  background: linear-gradient(to bottom,$fromColor,$toColor);
}
@mixin fade-up($fromColor, $toColor) {
  background: linear-gradient(to top,$fromColor,$toColor);
}