$color-background: #F1F1F1;
$color-blue: #1162A4;
$color-lightblue: #0c94f2;
$color-offblue: #096fb5;
$color-lightgray: #939598;
$color-gray: #414042;
$color-whitesmoke: #f1f2f2;
$color-errorred: #FF0000;
$color-disabledgray: #999999;
$color-fontgray: #58595B;

$header-height: 50px;

$header-z: 1111;
$loader-z: 12000;
$side-menu-z: 2222;
