$color-background: #F1F1F1;
$color-blue: #1162A4;
$color-lightblue: #0c94f2;
$color-paleblue: #2D9BF0;
$color-brightblue: #3258E9;
$color-offblue: #096fb5;
$color-lightgray: #939598;
$color-lightergray: #f0f4f9;
$color-gray: #414042;
$color-whitesmoke: #f1f2f2;
$color-errorred: #FF0000;
$color-disabledgray: #999999;
$color-fontgray: #58595B;
$color-teal: #0CA789;

$color-td-green: #35b234;
$color-td-darkgreen: #1A5336;
$color-td-lightgreen:#7BA67C;
$color-td-green-0:#EEF1EB;
$color-td-green-1: #E7EDE5;
$color-td-green-2: #DAE5D7;
$color-td-green-3: #7BA67C;

$header-height: 50px;

$header-z: 1111;
$loader-z: 12000;
$side-menu-z: 2222;
