.toggle-view{
  .toggle-label{
    display: inline-block;
    font-weight: bold;
    margin: 10px 10px 5px 0;
  }
  .toggle-ind{
    @include clickable;
    font-size: 25px;
    vertical-align: middle;
  }
}